---
---
# (at-mark) import "{{ site.theme }}" (semicolon) ...
# above version gave error "Scss encountered an error while converting 'assets/css/just-the-docs-dark.scss'" so trying variants...
@import "just-the-docs";

// Print-only styles - example
@media print {
  .side-bar, .page-header { display: none; }
  .main-content { max-width: auto; margin: 1em;}
}

// On main book *category* pages, h1 = genre, h2 = titles SPAN subtitle SPAN author (& translator), rest is p with classes [e.g. pic, published, ISBN, link, etc.]
// On *individual* book pages, h1 = title SPAN subtitle SPAN author (& translator), h2 = Synopsis, h2 = Reviews, h2 = Details, h2 = Links, rest is p with classes for review quotes/sources
// ALSO CREATE AUTHOR PAGES! So Books->Categories/Search, Authors->Alphabetical, About->Contact inc. social media/Buy books inc Special Offers?


@media (max-width: 500px) {
  .pic {
    float: none;
  }
}

@media (min-width: 501px) {
  .pic {
    float: left;
    padding: 10px 10px 10px 10px;
  }
}

<!--  .title {
  font:bold 13px/100% Arial, Helvetica, sans-serif;
  }

  .subtitle {
  font:italic 12px/100% Arial, Helvetica, sans-serif;
  color:red;
  }
-->
